.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
.lading-content {
    height: 100vh;
}  
.lading-content-p2 {
    height: 100vh;
}    

.hs
{
	height: 25vh;
}
.hm
{
	height: 50vh;
}

.hx
{
	height: 100vh;
}

@media (max-width: 576px) 
{
	.hs
	{
		height:auto;
	}
	.hm
	{
		height:auto;
	}
	.hx
	{
		height:auto;
	}
	.lading-content
	{
		height:auto;
		margin-bottom:5%;
	}
	.card{ margin-bottom: 5%;}
}

@media (max-width: 768px)
{
	.hs
	{
		height:auto;
	}
	.hm
	{
		height:auto;
	}
	.hx
	{
		height:auto;
	}
	.lading-content
	{
		height:auto;
		margin-bottom:5%;
	}
	.card{ margin-bottom: 5%;}
}

@media (max-width: 992px) 
{
.hs
	{
		height:auto;
	}
	.hm
	{
		height:auto;
	}
	.hx
	{
		height:auto;
	}
	.lading-content
	{
		height:auto;
		margin-bottom:5%;
	}
	.card{ margin-bottom: 5%;}
}